body {
  background-color: #1e1e1e; /* Cor escura para todo o fundo */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #ffffff; /* Cor do texto padrão */
}

.App-header {
  background-color: #1e1e1e; /* Mesma cor do fundo */
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: Arial, sans-serif;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #00d084;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.result-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.result-table th,
.result-table td {
  border: 1px solid #00d084;
  padding: 8px;
  text-align: left;
}

.result-table th {
  background-color: #00d084;
  color: #ffffff;
}

.result-table tr:nth-child(even) {
  background-color: #2c2c2c;
}
