.clientes-container {
  text-align: center;
  margin: 20px;
}

.clientes-actions {
  margin: 20px 0;
}

.input-group {
  margin: 10px 0;
}

.input-group input,
.input-group textarea {
  margin: 5px;
  padding: 10px;
  width: 90%;
}

.result-list {
  list-style-type: none;
  padding: 0;
}

.result-list li {
  margin: 5px 0;
  text-align: left;
}
